<mat-toolbar color="primary" class="footer">
  <span fxFlex="20%" fxLayoutAlign="center">
    <a href="http://www.facebook.com">
      <button mat-icon-button class="btn-facebook">
        <mat-icon class="fa fa-facebook fa-lg"></mat-icon>
      </button>
    </a>
  </span>
  <span fxFlex="20%" fxLayoutAlign="center">
    <a href="http://www.twitter.com">
      <button mat-icon-button class="btn-twitter">
        <mat-icon class="fa fa-twitter fa-lg"></mat-icon>
      </button>
    </a>
  </span>
  <span fxFlex="20%" fxLayoutAlign="center">
    <a href="http://www.linkedin.com">
      <button mat-icon-button class="btn-linkedin">
        <mat-icon class="fa fa-linkedin fa-lg"></mat-icon>
      </button>
    </a>
  </span>
  <span fxFlex="20%" fxLayoutAlign="center">
    <a href="http://www.youtube.com">
      <button mat-icon-button class="btn-youtube">
        <mat-icon class="fa fa-youtube fa-lg"></mat-icon>
      </button>
    </a>
  </span>
  <span fxFlex="20%" fxLayoutAlign="center">
    <a href="http://www.google.com/+">
      <button mat-icon-button class="btn-google-plus">
        <mat-icon class="fa fa-google-plus fa-lg"></mat-icon>
      </button>
    </a>
  </span>
</mat-toolbar>